html,body{
    margin: 0;
    padding: 0;
}
.box{
    border: 1px solid forestgreen;  
    width: 500px;
    margin: 0 auto;
    color: yellowgreen;
    margin-top: 100px;
    padding: 50px;
}
table{
    width: 100%;
} 
td{
    text-align: center;
}
tr{
    border:1px solid red;

}
input{
    border: 1px solid #f0e0e0;
}